body {
    margin: 0;
    height: 100vh;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.scoreboard {
    width: 850px;
    height: 470px;
    background: #192345;
    border: 5px solid #d9d9d9;
    border-radius: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team {
    text-align: center;
}

.team h1 {
    color: #eeeeee;
    font-size: 60px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.score {
    width: 240px;
    height: 170px;
    background: #080000;
    color: #ff4b68;
    font-size: 120px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 38px;
}

.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

button {
    width: 65px;
    height: 60px;
    background: transparent;
    color: #dbe7ff;
    border: 2px solid #9fb2df;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    background: #9fb2df;
    color: #192345;
}